<footer class="flex flex-col bg-white-100 py-16 items-center">
    <div class="flex flex-col-reverse md:text-base text-sm md:flex-col w-full px-6 md:px-0 md:w-[80%] max-w-[1300px]">

        <!-- footer upper part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">
            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topRtc' | translate }}</li>
                <li><a href="">{{ 'footer.apsrtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.gsrtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.msrtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.tnstc' | translate }}</a></li>
                <li><a href="">{{ 'footer.viewAll' | translate }}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.others' | translate }}</li>
                <li><a href="">{{ 'footer.tsrtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.sbstc' | translate }}</a></li>
                <li><a href="">{{ 'footer.rsrtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.keralaRtc' | translate }}</a></li>
                <li><a href="">{{ 'footer.viewAll' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topBusRoutes' | translate }}</li>
                <li><a href="">{{ 'footer.hydBlr' | translate }}</a></li>
                <li><a href="">{{ 'footer.blrChennai' | translate }}</a></li>
                <li><a href="">{{ 'footer.puneBlr' | translate }}</a></li>
                <li><a href="">{{ 'footer.mumbaiBlr' | translate }}</a></li>
                <li><a href="">{{ 'footer.viewAll' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.topCities' | translate }}</li>
                <li><a href="">{{ 'footer.hydTickets' | translate }}</a></li>
                <li><a href="">{{ 'footer.blrTickets' | translate }}</a></li>
                <li><a href="">{{ 'footer.chennaiTickets' | translate }}</a></li>
                <li><a href="">{{ 'footer.puneTickets' | translate }}</a></li>
                <li><a href="">{{ 'footer.viewAll' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.tedRail' | translate }}</li>
                <li><a href="">{{ 'footer.bookTrain' | translate }}</a></li>
                <li><a href="">{{ 'footer.pnrStatus' | translate }}</a></li>
                <li><a href="">{{ 'footer.liveTrainStatus' | translate }}</a></li>
                <li><a href="">{{ 'footer.trainSeatAvailability' | translate }}</a></li>
                <li><a href="">{{ 'footer.trainsBetweenStations' | translate }}</a></li>
            </ul>


        </div>
        <!-- footer upper part ends here  -->

        <hr class="my-8">
        <!-- footer bottom part starts here  -->
        <div class="flex justify-between flex-col md:flex-row gap-6">

            <div class="flex flex-col gap-2 md:w-[25%]">
                <div>
                    <img class="w-28" src="../../../assets/red-bus-with-word-bus-it_600323-482.avif" alt="">
                </div>
                <p>{{ 'footer.description' | translate }}</p>
            </div>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.aboutTedBus' | translate }}</li>
                <li><a href="">{{ 'footer.aboutUs' | translate }}</a></li>
                <li><a href="">{{ 'footer.investorRelations' | translate }}</a></li>
                <li><a href="">{{ 'footer.contactUs' | translate }}</a></li>
                <li><a href="">{{ 'footer.mobileVersion' | translate }}</a></li>
                <li><a href="">{{ 'footer.tedbusOnMobile' | translate }}</a></li>
                <li><a href="">{{ 'footer.sitemap' | translate }}</a></li>
                <li><a href="">{{ 'footer.offers' | translate }}</a></li>
                <li><a href="">{{ 'footer.careers' | translate }}</a></li>
                <li><a href="">{{ 'footer.values' | translate }}</a></li>
            </ul>



            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.info' | translate }}</li>
                <li><a href="">{{ 'footer.tnc' | translate }}</a></li>
                <li><a href="">{{ 'footer.privacyPolicy' | translate }}</a></li>
                <li><a href="">{{ 'footer.faq' | translate }}</a></li>
                <li><a href="">{{ 'footer.blog' | translate }}</a></li>
                <li><a href="">{{ 'footer.busOperatorRegistration' | translate }}</a></li>
                <li><a href="">{{ 'footer.agentRegistration' | translate }}</a></li>
                <li><a href="">{{ 'footer.insurancePartner' | translate }}</a></li>
                <li><a href="">{{ 'footer.userAgreement' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.globalSites' | translate }}</li>
                <li><a href="">{{ 'footer.india' | translate }}</a></li>
                <li><a href="">{{ 'footer.singapore' | translate }}</a></li>
                <li><a href="">{{ 'footer.malaysia' | translate }}</a></li>
                <li><a href="">{{ 'footer.indonesia' | translate }}</a></li>
                <li><a href="">{{ 'footer.peru' | translate }}</a></li>
                <li><a href="">{{ 'footer.colombia' | translate }}</a></li>
            </ul>


            <ul class="flex flex-col gap-2">
                <li class="text-xl font-bold">{{ 'footer.ourPartners' | translate }}</li>
                <li><a href="">{{ 'footer.goibiboBus' | translate }}</a></li>
                <li><a href="">{{ 'footer.goibiboHotels' | translate }}</a></li>
                <li><a href="">{{ 'footer.mmtBus' | translate }}</a></li>
                <li><a href="">{{ 'footer.mmtHotels' | translate }}</a></li>
            </ul>


        </div>
        <!-- footer bottom part ends here  -->



    </div>
</footer>