<aside class="left-sidebar">
  <nav class="nav-links">
    <button class="category-item" (click)="categorySelected.emit(''); goToHome()">
      <mat-icon>home</mat-icon>
      <span>{{ 'community.communityHome' | translate }}</span>
    </button>
    <button class="category-item" (click)="goToCreatePost()">
      <mat-icon>add_circle</mat-icon>
      <span>{{ 'community.createPost' | translate }}</span>
    </button>
    <button class="category-item" *ngIf="isLoggedIn" (click)="goToProfile()">
      <mat-icon>person</mat-icon>
      <span>{{ 'community.myProfile' | translate }}</span>
    </button>
    <button class="category-item admin-link" *ngIf="isAdmin" (click)="goToAdmin()">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>{{ 'community.moderationDashboard' | translate }}</span>
    </button>
  </nav>

  <div class="divider"></div>

  <h3 class="sidebar-title">{{ 'community.categories' | translate }}</h3>
  <nav class="category-list">
    <button
      class="category-item"
      [class.active]="cat.name === activeCategory"
      *ngFor="let cat of categories"
      (click)="select(cat.name)">
      <mat-icon>{{ cat.icon }}</mat-icon>
      <span>{{ cat.nameKey | translate }}</span>
    </button>
  </nav>
</aside>
