<div class="security-container">
    <mat-icon style="font-size: 20px; padding-bottom: 10px;">security</mat-icon>
    <div>{{ 'classic.sort.safetyNote' | translate }}</div>
  </div>
  <mat-divider></mat-divider>
  <div class="main-container">
    <div class="main-container1">
      <div>{{ 'classic.sort.busesList' | translate }}</div>
      <div>{{ 'search.sortBy' | translate }}</div>
    </div>
    <div class="main-container2" >{{ 'classic.sort.departure' | translate }}</div>
    <div class="main-container3" >{{ 'classic.sort.duration' | translate }}</div>
    <div class="main-container4" >{{ 'classic.sort.arrivals' | translate }}</div>
    <div class="main-container5" >{{ 'classic.sort.ratings' | translate }}</div>
    <div class="main-container6">{{ 'classic.sort.fare' | translate }}</div>
    <div class="main-container7">{{ 'search.seatsAvailable' | translate }}</div>
  </div>
  